mat-toolbar {
  background-color: #FFF !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

.main-container {
  display: flex;
  width: 100%;

  .left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
  }

  .right {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end
  }
}
